@model IEnumerable<DemoCRUD.Models.Livro>

@{
    ViewBag.Title = "Biblioteca";
}

<h2>Livros</h2>
<hr />
<p>
    <a href="#" class="btn btn-success" data-action="Create">
        <span class="glyphicon glyphicon-plus"></span>
        Novo Livro
    </a>
</p>
<table id="gridDados">
    <thead>
        <tr style="text-align:center">
            <!-- data-column-id será referente ao nome do JSON que será correspondente a este campo -->
            <th data-column-id="Titulo" data-order="asc">Título</th><!-- data-order para não dar erro quando pegar os dados do sort pelo bootgrid -->
            <th data-column-id="Autor">Autor</th>
            <th data-column-id="AnoEdicao">Ano da Edição</th>
            <th data-column-id="Valor">Valor</th>
            <th data-formatter="acoes">Ações</th>
        </tr>
    </thead>
</table>

<!-- Modal-->
<div class="modal fade" id="minhaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudoModal">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.bootgrid.js"></script>
    <script src="~/Scripts/Projeto/ControlarGrid.js"></script>
    <script type="text/javascript">
        // quando o documento estiver 'pronto' chama a função 'configuracontroles'
        // variavel para indicar qual controller será utilizada
        var controller = "Livros";

        var urlListar = "@Url.Action("Listar")";

        $(document).ready(configurarControles);
    </script>
}
